<div>Professor Oak: Are you a boy or are you a girl?</div>
<input type="radio" value="boy" name="trainer[gender]">Boy</input>
<input type="radio" value="girl" name="trainer[gender]">Boy</input>
<div> Professor Oak: Let's begin with your name. What is it?</div>
<input type="text" name="trainer[name]" />

