body, html {
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header img {
  width: 25%;
  height: 25%;
}

.prof-oak {
  width: 100%;
  display: flex;
  justify-content: center;
}

.prof-oak img {
  width: 10%;
  height: 10%;
}

.pokemonChoice input div{
  display: inline-block;

}