body, html {
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header img {
  width: 25%;
  height: 25%;
}

.pokemon {
  display: flex;
  flex-direction: row;
}