#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation #blog, .navigation #about-me {
  margin: 5px;
}

#post-listings {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

#post-listings a {
  text-decoration: none;
  color: black;
}

.post-container {
  margin: 10px;
}