<form method="POST" action="/pokemon">
  <input placeholder="Pokedex Number" name="pokemon[pokedex_number]" type="text" />
  <input placeholder="Pokemon Name" name="pokemon[name]" type="text" />
  <input placeholder="Type" name="pokemon[affinity]" type="text" />
  <input placeholder="Description" name="pokemon[description]" type="text" />
  <button type="submit">Add Pokemon</button>
</form>