<form>
  <input placeholder="Pokedex Number" name="pokedexNum" type="text" />
  <input placeholder="Pokemon Name" name="name" type="text" />
  <input placeholder="Type" name="affinity" type="text" />
  <input placeholder="Description" name="description" type="text" />
</form>