{{#each this}}
  <a href="{{path}}">
    <div class="post-container">
      <div class="title">{{title}}</div>
      <div class="author">by {{author}}</div>
      <div class="preview">
        {{preview}}
      </div>
    </div>
  </a>
{{/each}}
