{{#each pokemons}}
  <div class="pokemon">
    <div class="pokedexNumber">{{this.pokedex_number}}</div>
    <div class="pokemonName"><a href="/pokemon/{{this.pokedex_number}}">{{this.name}}</a></div>
  </div>
{{/each}}