{{#each pokemons}}
  <div class="pokemon">
    <div class="pokedexNumber">{{this.pokedex_number}}</div>
    <div class="pokemonName">{{this.name}}</div>
    </div class="pokemonType">{{this.affinity}}</div>
  </div>
{{/each}}