<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel='stylesheet' href='/css/application.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js'></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <script src='/js/application.js'></script>
    <script src='/js/templatesCompiled.js'></script>
    <title>Intro To Handlebars</title>
  </head>

  <body>
    <div id='header'></div>
    <%= yield %>
  </body>
</html>